* {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.headerWrap {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}

.headerTop {
    width: 1280px;
    display: flex;
    margin: auto;
}

/* 로고 */
.headerLogo {
    width: 290px;
    display: inline;
    text-align: right;
    padding: 10px 10px 10px 0;
}

/* 검색 */
.searchBar {
    width: 600px;
    height: 40px;
    background-color: white;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.searchBar form input {
    width: 545px;
    height: 40px;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    color:#263343;
    padding-left: 10px;
}

.searchBar form span {
    width: 45px;
    color:#263343;
    font-weight: bold;
    cursor: pointer;
}

/* 상단 텍스트 */
.util {
    width: calc(1280px - 900px);
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.utilList {
    display: flex;
    list-style: none;
    margin-top: 10px;
    margin-right: 50px;
}

.utilList li {
    margin-left: 10px;
    font-size: 15px;
}

.utilList a {
    color: #263343;
}

/* 메뉴 */
.headerNav {
    width: 1280px;
    height: 50px;
    background-color: #263343;
    margin: auto;
}

.headerNavList {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.headerNavList li {
    width: calc(1280px / 5);
    padding : 5px 0px 5px 0px;
    font-size: 20px;
    text-align: center;
    z-index: 2;
}

.headerNavList a {
    color: pink;
}

.headerNavList ul {
    width: calc(1280px / 5);
    position: absolute;
    top: 5px;
    background-color: #263343;
}

.headerNavList ul li {
    width: 97%;
    margin: 7px auto;
    font-size: 18px;
    color: pink;
    z-index: 2;
}

.headerNavList ul li:hover {
    background-color: #d494668e;
    border-radius: 4px;
}

.testDiv {
    position: absolute;
}

